<div class="page-header">
  <%= link_to new_portal_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Portal
  <% end %>
  <h1>Listing portals</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Title</th>
            <th>Slug</th>
            <th>Destinations count</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @portals) do |portal| %>
            <td><%= portal.title %></td>
            <td><%= portal.slug %></td>
            <td><%= portal.destinations_count %></td>
            <td><%= link_to 'Show', portal %></td>
        <td><%= link_to 'Edit', edit_portal_path(portal) %></td>
        <td><%= link_to 'Destroy', portal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
